*/**/history.txt
*/**/.env
**/themes/noctalia
.antigravitycli/
.config/yazi/flavors/
.config/yazi/plugins/
.config/ghostty/shaders/ghostty-shaders

# Ignore all dynamic/bootstrapped assets in the mpv directory except tracked configurations
.config/mpv/*
!.config/mpv/mpv.conf
!.config/mpv/input.conf
