*/**/history.txt
*/**/.env
**/themes/noctalia
.antigravitycli/
**/yazi/flavors/
**/yazi/plugins/
**/ghostty/shaders/ghostty-shaders
**/fish/fish_variables

# Ignore all dynamic/bootstrapped assets in the mpv directory except tracked configurations
**/mpv/*
!**/mpv/mpv.conf
!**/mpv/input.conf
