*/**/history.txt
*/**/.env
**/themes/noctalia
.antigravitycli/
**/yazi/flavors/
**/yazi/plugins/
**/ghostty/shaders/ghostty-shaders
**/ghostty/themes/matugen
**/micro/colorschemes/matugen.micro
**/atuin/themes/matugen.toml
**/fish/fish_variables
**/OpenRGB/logs/
**/niri/dms/
**/hypr/scheme/current.conf
**/hypr/scheme/current.lua
**/hypr/hyprland-gui.lua
**/hypr/dms/colors.lua

# Ignore all dynamic/bootstrapped assets in the mpv directory except tracked configurations
**/mpv/*
!**/mpv/mpv.conf
!**/mpv/input.conf
