// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup
spawn-at-startup "vicinae" "server"
spawn-at-startup "cosmic-ext-alternative-startup"
